{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% block title %}
News
{% endblock title %}

{% block content %}
<h1>Все новости</h1>
{% if is_not_subscriber %}
<a href= "{% url 'subscribe' post_category.id %}" class="btn btn-primary">Подписаться</a>
<h1>Общее количество новостей: {{ category_news_list|length }}</h1>
{% for post in category_news_list reversed %}
<div class="card">
  <div class="card-header">
    {{ post.time|date:'d M Y' }}
  </div>
  <div class="card-body">
    <h5 class="card-title">{{post.header}}</h5>
    <p class="card-text">{{post.text|truncatechars:20}}</p>
    <a href= "{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Читать новость</a>
  </div>
</div>
{% endfor %}
{% else %}
  <h2>новостей нет!</h2>
{% endif %}
{% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
  {% endif %}
{% endblock content %}